/*
*** Main Colors
*/
$redColor: #E1473B;
$secondRedColor: #F65D55;
$greyColor: #555;
$secondGreyColor: #666;

/*
** Float fixed
*/
$floatLeft: left;
$floatRight: right;
/*
** Text fixed
*/
$textLeft: left;
$textRight: right;

/*
** Media Quires Variables
*/
$mobile: 'max-width: 767px';
$small: 'min-width: 768px';
$medium: 'min-width: 992px';
$large: 'min-width: 1200px';