* {
    box-sizing: border-box;
}
body {
    background-color: #EFEFEF;
    font-family: Tahoma, Arial;
    font-size: 14px; overflow: hidden;
}
ol, ul {
    list-style: none;
    margin: 0; padding: 0;
}